* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SSP;
  src: url("./SourceSansPro-Regular.ttf");
}

:root {
  --background-color: rgb(134, 134, 134);
  --sidebar-color: rgb(238, 238, 238);
  --article-content-color: rgb(252, 252, 252);
  --footer-color: rgb(39, 39, 39);
}
.grid-system {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
}

footer {
  height: 200px;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  color: var(--article-content-color);
  padding: 1rem 2rem 2rem 2rem;
}

footer > p {
  margin: 2rem;
}

.sidebar {
  background-color: var(--sidebar-color);
}

.main-container {
  font-family: SSP, sans-serif;
  font-size: 16px;
}

.content-block {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
}

article {
  margin-top: 2rem;
  background-color: var(--article-content-color);
  border: 1px solid rgb(114, 114, 114);
  display: block;
  max-width: 1200px;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 4rem;
  margin: 2rem;
}

article > h1 {
  display: block;
  background-color: #d6d6d6;
  color: #2b2b2b;
  border-radius: 0;
  padding: 1rem 3rem 1rem 2rem;
}

article > h2 {
  display: block;
  background-color: #acc;
  border-radius: 0;
  padding: 1rem 3rem 1rem 2rem;
  cursor: pointer;
}

article > p {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 2rem 0rem 2rem;
}

.sidebar {
  padding: 2rem;
  line-height: 1.5rem;
  font-family: SSP;
  font-weight: 300;
}

.sidebar > ul {
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  margin: 0.5rem;
  transition: background 0.5s;
}

li:hover {
  cursor: pointer;
  color: rgb(190, 43, 43);
}

.sep {
  display: block;
  background-color: rgb(0, 0, 0, 0.2);
  height: 2px;
  margin-bottom: 1rem;
}
